<form class="form-inline" [formGroup]="form" (ngSubmit)="consultar()">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="idTecnico" formControlName="idTecnico" placeholder="Id técnico"
      [class.is-invalid]="idTecnicoNoValido">
    <small *ngIf='idTecnicoNoValido' class="text-danger"> Id técnico es obligatorio </small>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="semana" formControlName="semana" placeholder="Semana del año"
      [class.is-invalid]="semanaNoValida">
    <small *ngIf='semanaNoValida' class="text-danger"> La semana de trabajos es obligatoria </small>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Consultar</button>
</form>

<table class="table" *ngIf="mostrarTabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Horas Normales</th>
      <th scope="col">Horas Nocturnas</th>
      <th scope="col">Horas Dominicales</th>
      <th scope="col">Horas Normales Extras</th>
      <th scope="col">Horas Nocturnas Extras</th>
      <th scope="col">Horas Dominicales Extras</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Resumen de Horas</th>
      <td>{{horas.horasNormales}}</td>
      <td>{{horas.horasNocturnas}}</td>
      <td>{{horas.horasDominicales}}</td>
      <td>{{horas.horasNormalesExtras}}</td>
      <td>{{horas.horasNocturnasExtras}}</td>
      <td>{{horas.horasDominicalesExtras}}</td>
    </tr>
  </tbody>
</table>
